body {
    background-image: url("bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main-header {
    background-color: rgb(51, 51, 51, 0.8);
    color: #ff6666;
}

h1, h3, h5 {
    font-family: 'Lobster', cursive;
}

.lead, .list-group {
    font-family: 'Oswald', sans-serif;
}

#burger-entry, .left-col, .right-col {
    background-color: rgb(51, 51, 51, 0.8);
}