<li class="list-group-item d-flex justify-content-between">
    
    {{burger_name}}

    {{#if devoured}}
        <button type="button" class="btn btn-warning devourBtn" data-id="{{id}}" data-newdevour="{{devoured}}">
            DEVOUR
        </button>
    {{/if}}
</li>